{
  "branches": [
    "main",
    {
      "name": "dev",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          { "type": "build", "scope": "Needs bump", "release": "patch" }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    [
      "@MorpheApp/changelog", {
        "releaseJson": {
          "path": "app-release.json",
          "downloadUrlTemplate": "https://github.com/${owner}/${repo}/releases/download/v${version}/morphe-manager-${version}.apk",
          "signatureUrlTemplate": "https://github.com/${owner}/${repo}/releases/download/v${version}/morphe-manager-${version}.apk.asc"
        }
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "chmod +x .github/scripts/prepare-release.sh && .github/scripts/prepare-release.sh ${nextRelease.version}",
        "publishCmd": "echo 'Build completed during prepare phase'",
        "successCmd": "chmod +x .github/scripts/publish-release-json.sh && .github/scripts/publish-release-json.sh ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "app/gradle.properties"
        ],
        "message": "chore: Release v${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "app/build/outputs/apk/release/*.apk?(.asc)"
          }
        ],
        "successComment": false
      }
    ],
    [
      "@cleyrop-org/semantic-release-backmerge",
      {
        "backmergeBranches": [{"from": "main", "to": "dev"}],
        "clearWorkspace": true
      }
    ]
  ]
}
